# Lecture 1 -  Introduction to R via the tidyverse 

(or Reading data, single data frame manipulations & tidying data in R)

#### Learning objectives
By the end of this lecture and worksheet 1, students should be able to:
* Choose and use the appropriate `readr::read_*` function and function arguments to load a given rectangular, plain text data set into R
* Use the assignment symbol, `<-`, to assign values to objects in R
* Write a dataframe to a .csv file using `readr::write_csv`
* Use `readr::read_csv` to bring data from standard comma separated value (`.csv`) files into R
* Recall and use the following `dplyr` functions and operators for their intended data wrangling tasks:
    - `select`
    - `filter`
    - `mutate`
    - `arrange`
    - `desc`
    - `slice`
    - `pull`
    - `%in%`
* Use the pipe operator, `|>`, to combine two or more functions
* Define the term "tidy data"
* Discuss the advantages and disadvantages of the tidy data format
* Use `tidyr::pivot_wider` & `tidyr::pivot_longer` in R to make untidy data tidy

### First, a bit of history about R

- An implementation of the S programming language (created at Bell labs in 1976)

- written in C, Fortran, and R itself

- R was created by Ross Ihaka and Robert Gentleman (Statisticians from NZ)

- R is named partly after the authors and partly as a play on the name of S

- First stable beta version in 2000

<img src="http://revolution-computing.typepad.com/.a/6a010534b1db25970b01b8d2594d25970c-pi" width="600">

*Source: https://blog.revolutionanalytics.com/2016/03/16-years-of-r-history.html*

R currently has more than 15,000 additional packages (as of September 2018)!

## Loading/importing data

Taking our first step in data analysis:

![](https://d33wubrfki0l68.cloudfront.net/795c039ba2520455d833b4034befc8cf360a70ba/558a5/diagrams/data-science-explore.png)

*Source: Grolemund & Wickham, [R for Data Science](https://r4ds.had.co.nz/)*

#### The four most common ways to do this in Data Science

1. **read in a text file with data in a spreadsheet format**
2. read from a database (e.g., SQLite, PostgreSQL)
3. scrape data from the web 
4. use a web API to read data from a website

#### Reading spreadsheet-like data into R

- We recommend using the `readr` package (part of the tidyverse) functions for plain text files

- We recommed using the `readxl` package (part of the tidyverse but needs to be explicitly loaded in addition to tidyverse) for Microsoft Excel files.

#### Workflow for reading in spreadsheet-like data

**Step 1: LOOK AT THE FILE!** ðŸ‘€

**Step 2:** Match what you see with an appropriate {readr} or {readxl} package function

**Step 3:** Choose the correct arguments for that file and that function

**Step 1: LOOK AT THE RESULT TO MAKE SURE IT WORKED!** ðŸ‘€

#### The simplest case: a comma separated value file

- The simplest plain text data file you will encounter is a a comma separated value (`.csv`) file. 

- `read_csv`, from the {readr} package, is the function of choice here.

- In its most basic use-case, `read_csv` expects that the data file:
    - has column names (or headers),
    - uses a comma (,) to separate the columns, and
    - does not have row names.

Reading in `data/can_lang.csv` data using `read_csv`:

First, load the {readr} or {tidyverse} library:

> Note: {readr} is part of the {tidyverse} metapackage, so when you load {tidyverse} you get the {readr} package functions, as well as a bunch of other goodies we'll learn about shortly!

In [1]:
library(tidyverse)

â”€â”€ Attaching packages â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse 1.3.2 â”€â”€
âœ” ggplot2 3.3.6     âœ” purrr   0.3.4
âœ” tibble  3.1.8     âœ” dplyr   1.0.9
âœ” tidyr   1.2.0     âœ” stringr 1.4.1
âœ” readr   2.1.2     âœ” forcats 0.5.1
â”€â”€ Conflicts â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse_conflicts() â”€â”€
âœ– dplyr::filter() masks stats::filter()
âœ– dplyr::lag()    masks stats::lag()

Next, use the `read_csv` function to read the data into R from the `can_lang.csv` file:

In [2]:
can_lang1 <- read_csv("data/can_lang.csv")
head(can_lang1)

Rows: 214 Columns: 6
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr (2): category, language
dbl (4): mother_tongue, most_at_home, most_at_work, lang_known

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  category                                language
1 Aboriginal languages                    Aboriginal languages, n.o.s.
2 Non-Official & Non-Aboriginal languages Afrikaans
3 Non-Official & Non-Aboriginal languages Afro-Asiatic languages, n.i.e.
4 Non-Official & Non-Aboriginal languages Akan (Twi)
5 Non-Official & Non-Aboriginal languages Albanian
6 Aboriginal languages                    Algonquian languages, n.i.e.
  mother_tongue most_at_home most_at_work lang_known
1   590           235         30            665
2 10260          4785         85          23415
3  1150           445         10           2775
4 13460          5985         25          22150
5 26895         13135        345          31930
6    45            10          0            120

#### Skipping rows when reading in data

- Often times information about how data was collected, or other relevant information, is included at the top of the data file. 

- Referred to as "metadata"

Reading in `data/can_lang-meta-data.csv`

In [3]:
can_lang2 <- read_csv("data/can_lang-meta-data.csv", skip = 2)
head(can_lang2)

Rows: 214 Columns: 6
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr (2): category, language
dbl (4): mother_tongue, most_at_home, most_at_work, lang_known

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  category                                language
1 Aboriginal languages                    Aboriginal languages, n.o.s.
2 Non-Official & Non-Aboriginal languages Afrikaans
3 Non-Official & Non-Aboriginal languages Afro-Asiatic languages, n.i.e.
4 Non-Official & Non-Aboriginal languages Akan (Twi)
5 Non-Official & Non-Aboriginal languages Albanian
6 Aboriginal languages                    Algonquian languages, n.i.e.
  mother_tongue most_at_home most_at_work lang_known
1   590           235         30            665
2 10260          4785         85          23415
3  1150           445         10           2775
4 13460          5985         25          22150
5 26895         13135        345          31930
6    45            10          0            120

If you need to skip rows at the bottom of a file, use the `n_max` argument.

Note - you will need to know how many lines are in the file to succesfully use this. You can use some shell/command line tools to do this. 

- `wc -l FILENAME` will tell you how many lines are in the file

- `tail -n 10 FILENAME` will print the last 10 lines of the file

#### `read_delim` as a more flexible method to get data into R

- most flexible `readr` function is `read_delim`
- doesn't assume any delimiter, you have to specify

Reading in `data/can_lang.tsv`

In [4]:
can_lang3 <- read_delim("data/can_lang.tsv",  
                     delim = "\t", 
                     col_names = FALSE)
head(can_lang3)

Rows: 214 Columns: 6
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: "\t"
chr (2): X1, X2
dbl (4): X3, X4, X5, X6

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  X1                                      X2                             X3
1 Aboriginal languages                    Aboriginal languages, n.o.s.     590
2 Non-Official & Non-Aboriginal languages Afrikaans                      10260
3 Non-Official & Non-Aboriginal languages Afro-Asiatic languages, n.i.e.  1150
4 Non-Official & Non-Aboriginal languages Akan (Twi)                     13460
5 Non-Official & Non-Aboriginal languages Albanian                       26895
6 Aboriginal languages                    Algonquian languages, n.i.e.      45
  X4    X5  X6
1   235  30   665
2  4785  85 23415
3   445  10  2775
4  5985  25 22150
5 13135 345 31930
6    10   0   120

> Note: you can see that above we also used another argument: `col_names = FALSE`. This is because this version of the data set had no column names, and if we have such a file and don't specify that, then the first observation will be taken (incorrectly) to be the column names. Another useful extension of this arguement is using it to assign column names, see the example below:

> ```
> can_lang3 <- read_delim("data/can_lang.tsv",  
>                      delim = "\t", 
>                      col_names = c("category", "language", "mother_tongue", 
>                                  "most_at_home", "most_at_work", "lang_known"))
> ```

#### Reading tabular data directly from a URL

- We can also use `read_csv` or `read_delim` (and related functions) to read in tabular data directly from a url that contains tabular data

- In this case, we provide the url to the `read_*` function as the path to the file instead of a path to a local file on our computer

Reading in https://github.com/ttimbers/canlang/blob/master/inst/extdata/can_lang.csv

In [5]:
can_lang4 <- read_csv("https://raw.githubusercontent.com/ttimbers/canlang/master/inst/extdata/can_lang.csv")
head(can_lang4)

Rows: 214 Columns: 6
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr (2): category, language
dbl (4): mother_tongue, most_at_home, most_at_work, lang_known

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  category                                language
1 Aboriginal languages                    Aboriginal languages, n.o.s.
2 Non-Official & Non-Aboriginal languages Afrikaans
3 Non-Official & Non-Aboriginal languages Afro-Asiatic languages, n.i.e.
4 Non-Official & Non-Aboriginal languages Akan (Twi)
5 Non-Official & Non-Aboriginal languages Albanian
6 Aboriginal languages                    Algonquian languages, n.i.e.
  mother_tongue most_at_home most_at_work lang_known
1   590           235         30            665
2 10260          4785         85          23415
3  1150           445         10           2775
4 13460          5985         25          22150
5 26895         13135        345          31930
6    45            10          0            120

#### Reading data from an Microsoft Excel file

- it is very common to encounter, and need to load into R, data stored as a Microsoft Excel spreadsheet (with the filename extension `.xlsx`)

- To be able to do this, a key thing to know is that even though .csv and `.xlsx` files look almost identical when loaded into Excel, the data themselves are stored completely differently.

Read in `data/can_lang.xlsx`:

In [6]:
library(readxl)

In [7]:
can_lang5 <- read_excel("data/can_lang.xlsx")
head(can_lang5)

  category                                language
1 Aboriginal languages                    Aboriginal languages, n.o.s.
2 Non-Official & Non-Aboriginal languages Afrikaans
3 Non-Official & Non-Aboriginal languages Afro-Asiatic languages, n.i.e.
4 Non-Official & Non-Aboriginal languages Akan (Twi)
5 Non-Official & Non-Aboriginal languages Albanian
6 Aboriginal languages                    Algonquian languages, n.i.e.
  mother_tongue most_at_home most_at_work lang_known
1   590           235         30            665
2 10260          4785         85          23415
3  1150           445         10           2775
4 13460          5985         25          22150
5 26895         13135        345          31930
6    45            10          0            120

Note - if there are multiple sheets, use the `sheet` argument to specify the sheet number or name.

#### Reading a Microsoft Excel file from the web

When trying to read a Microsoft Excel file from the web into R using a URL you cannot just pass the URL to `read_excel`.

First you must download the file, and then read it locally from there:

In [8]:
url <- "https://github.com/ttimbers/canlang/blob/master/inst/extdata/can_lang.xlsx?raw=true"
download.file(url, "temp.xlsx")
can_lang6 <- read_excel("temp.xlsx")
head(can_lang6)

  category                                language
1 Aboriginal languages                    Aboriginal languages, n.o.s.
2 Non-Official & Non-Aboriginal languages Afrikaans
3 Non-Official & Non-Aboriginal languages Afro-Asiatic languages, n.i.e.
4 Non-Official & Non-Aboriginal languages Akan (Twi)
5 Non-Official & Non-Aboriginal languages Albanian
6 Aboriginal languages                    Algonquian languages, n.i.e.
  mother_tongue most_at_home most_at_work lang_known
1   590           235         30            665
2 10260          4785         85          23415
3  1150           445         10           2775
4 13460          5985         25          22150
5 26895         13135        345          31930
6    45            10          0            120

> Note: When using `download.file` on Windows for Excel files (e.g., `.xlsx`) you need to specify an additional argument: `mode = "wb"`. For example:
```
download.file(url, "temp.xlsx", mode = "wb")
```

#### Note about loading data

- It's important to do it carefully + check results after!
  - will help reduce bugs and speed up your analyses down the road
- Think of it as tying your shoes before you run; not exciting, but if done wrong it will trip you up later!

<center><img src="https://media.giphy.com/media/Se449o7yNjziw/giphy.gif"/></center>

#### Writing files from R to a `.csv` file

- Once you have modified or summarized some data, you often want to save that data to a file for use later, or sharing with others.

- One of the most common formats for this is `.csv`

- To write to `.csv` in R we recommend using `readr::write_csv` as it uses sensible choices for a `.csv` file (e.g., includes column, but not row names, does not write quotes around the data, uses a comma as the delimiter, etc)

In [1]:
write_csv(can_lang6, "data/can_lang7.csv")

ERROR: Error in write_csv(can_lang6, "data/can_lang7.csv"): could not find function "write_csv"

### Cleaning up column names

Column names from wild data can be wild! For example, column names with symbols or white space require special syntax (surround the column names with back ticks) to program with them in R. One of the first things you want to do when you read in data can be to clean these up!

If things are not too bad, and there are not too many, `rename` can be a friend. Let's use `rename` to change the column names that have white space to using underscores. Let's look at the `can_lang-colnames.csv` file for example:

In [10]:
can_lang8 <- read_csv("data/can_lang-colnames.csv")
head(can_lang8)

Rows: 214 Columns: 6
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr (2): Category, Language
dbl (4): Mother tongue, Spoken most at home, Spoken most at work, Language k...

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Category                                Language
1 Aboriginal languages                    Aboriginal languages, n.o.s.
2 Non-Official & Non-Aboriginal languages Afrikaans
3 Non-Official & Non-Aboriginal languages Afro-Asiatic languages, n.i.e.
4 Non-Official & Non-Aboriginal languages Akan (Twi)
5 Non-Official & Non-Aboriginal languages Albanian
6 Aboriginal languages                    Algonquian languages, n.i.e.
  Mother tongue Spoken most at home Spoken most at work Language known
1   590           235                30                   665
2 10260          4785                85                 23415
3  1150           445                10                  2775
4 13460          5985                25                 22150
5 26895         13135               345                 31930
6    45            10                 0                   120

In [11]:
can_lang9 <- rename(can_lang8, Mother_tongue = `Mother tongue`,
                   Spoken_most_at_home = `Spoken most at home`,
                   Spoken_most_at_work = `Spoken most at work`,
                   Language_known = `Language known`)
head(can_lang9)

  Category                                Language
1 Aboriginal languages                    Aboriginal languages, n.o.s.
2 Non-Official & Non-Aboriginal languages Afrikaans
3 Non-Official & Non-Aboriginal languages Afro-Asiatic languages, n.i.e.
4 Non-Official & Non-Aboriginal languages Akan (Twi)
5 Non-Official & Non-Aboriginal languages Albanian
6 Aboriginal languages                    Algonquian languages, n.i.e.
  Mother_tongue Spoken_most_at_home Spoken_most_at_work Language_known
1   590           235                30                   665
2 10260          4785                85                 23415
3  1150           445                10                  2775
4 13460          5985                25                 22150
5 26895         13135               345                 31930
6    45            10                 0                   120

#### Cleaning up a lot of column names

Sometimes there are A LOT of column names with non-syntactic names. `rename` is not the best choice here. Instead we'll use the `clean_names` from the {janitor} package to transform all column names to syntactic ones.

In [12]:
library(janitor)

Attaching package: â€˜janitorâ€™


The following objects are masked from â€˜package:statsâ€™:

    chisq.test, fisher.test

In [13]:
census <- read_csv("data/census_snippet.csv")
head(census, 3)

Rows: 12 Columns: 16
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr  (4): Geographic name, Geographic type, Geographic name, Province or ter...
dbl (12): Geographic code, Geographic code, Province or territory, Global no...

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Geographic code Geographic name Geographic type
1 1001            Division No.  1 Census division
2 1001            Division No.  1 Census division
3 1001            Division No.  1 Census division
  Geographic name, Province or territory Geographic code, Province or territory
1 Newfoundland and Labrador              10
2 Newfoundland and Labrador              10
3 Newfoundland and Labrador              10
  Global non-response rate Data quality flag
1 3.7                      0
2 3.7                      0
3 3.7                      0
  Household type
1 Total â€“ Household type including census family structure
2 Census-family households
3 Households consisting of only one census family without additional persons
  Number of households, 2006 Number of households, 2016
1 97015                      112620
2 71960                       78825
3 66250                       73020
  Median household total income (2015 constant dollars), 2005
1 57667
2 69720
3 68837
  Median household total income (2015 constant dollars), 2015
1 74676
2 96124
3 94566
  Median household total income (2015 constant dollars), % change
1 29.5
2 37.9
3 37.4
  Median household after-tax income (2015 constant dollars), 2005
1 49750
2 59713
3 58715
  Median household after-tax income (2015 constant dollars), 2015
1 64504
2 81486
3 80012
  Median household after-tax income (2015 constant dollars), % change
1 29.7
2 36.5
3 36.3

In [14]:
clean_census <- clean_names(census)
head(clean_census, 3)

  geographic_code geographic_name geographic_type
1 1001            Division No.  1 Census division
2 1001            Division No.  1 Census division
3 1001            Division No.  1 Census division
  geographic_name_province_or_territory geographic_code_province_or_territory
1 Newfoundland and Labrador             10
2 Newfoundland and Labrador             10
3 Newfoundland and Labrador             10
  global_non_response_rate data_quality_flag
1 3.7                      0
2 3.7                      0
3 3.7                      0
  household_type
1 Total â€“ Household type including census family structure
2 Census-family households
3 Households consisting of only one census family without additional persons
  number_of_households_2006 number_of_households_2016
1 97015                     112620
2 71960                      78825
3 66250                      73020
  median_household_total_income_2015_constant_dollars_2005
1 57667
2 69720
3 68837
  median_household_total_income_2015_constant_dollars_2015
1 74676
2 96124
3 94566
  median_household_total_income_2015_constant_dollars_percent_change
1 29.5
2 37.9
3 37.4
  median_household_after_tax_income_2015_constant_dollars_2005
1 49750
2 59713
3 58715
  median_household_after_tax_income_2015_constant_dollars_2015
1 64504
2 81486
3 80012
  median_household_after_tax_income_2015_constant_dollars_percent_change
1 29.7
2 36.5
3 36.3

`clean_names` is a thing of great beauty!!!

## Single data frame manipulations

Here we are going to learn how to use some of the most essential single data frame manipulation functions from the {dplyr} tidyverse package. To explore these, we will work with some of the data from the [Gapminder project](https://www.gapminder.org/). Jenny Bryan (MDS Founder and Software Developer at RStudio) released this as an R package called {[gapminder](https://github.com/jennybc/gapminder)}. We can load the data by loading the {gapminder} library:

In [15]:
library(gapminder)

Let's take a quick look at the first 6 rows using `head`:

In [16]:
head(gapminder)

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333 779.4453
2 Afghanistan Asia      1957 30.332   9240934 820.8530
3 Afghanistan Asia      1962 31.997  10267083 853.1007
4 Afghanistan Asia      1967 34.020  11537966 836.1971
5 Afghanistan Asia      1972 36.088  13079460 739.9811
6 Afghanistan Asia      1977 38.438  14880372 786.1134

### Use `select` to subset columns

`select` from the [dplyr] package is used to subset the data on variables or columns. Hereâ€™s a conventional call to select two columns, `year` and `lifeExp`:

In [17]:
select(gapminder, year, lifeExp)

     year lifeExp
1    1952 28.801
2    1957 30.332
3    1962 31.997
4    1967 34.020
5    1972 36.088
6    1977 38.438
7    1982 39.854
8    1987 40.822
9    1992 41.674
10   1997 41.763
11   2002 42.129
12   2007 43.828
13   1952 55.230
14   1957 59.280
15   1962 64.820
16   1967 66.220
17   1972 67.690
18   1977 68.930
19   1982 70.420
20   1987 72.000
21   1992 71.581
22   1997 72.950
23   2002 75.651
24   2007 76.423
25   1952 43.077
26   1957 45.685
27   1962 48.303
28   1967 51.407
29   1972 54.518
30   1977 58.014
â‹®    â‹®    â‹®
1675 1982 49.113
1676 1987 52.922
1677 1992 55.599
1678 1997 58.020
1679 2002 60.308
1680 2007 62.698
1681 1952 42.038
1682 1957 44.077
1683 1962 46.023
1684 1967 47.768
1685 1972 50.107
1686 1977 51.386
1687 1982 51.821
1688 1987 50.821
1689 1992 46.100
1690 1997 40.238
1691 2002 39.193
1692 2007 42.384
1693 1952 48.451
1694 1957 50.469
1695 1962 52.358
1696 1967 53.995
1697 1972 55.635
1698 1977 57.674
1699 1982 60.363
1700 1987 62.351
1701 1992 60.377
1702 1997 46.809
1703 2002 39.989
1704 2007 43.487

Wow! That's a lot of rows... For teaching purposes I am intentionally not binding a name to the output of these commands, as they are for demonstration only, however, that means we don't have an object to call `head` on... In Jupyter we can use this `options` function call to limit the number of rows output when we call an entire data frame.

In [18]:
# run this command to limit data frame output to 10 rows
options(repr.matrix.max.rows = 10)

In [19]:
select(gapminder, year, lifeExp)

     year lifeExp
1    1952 28.801
2    1957 30.332
3    1962 31.997
4    1967 34.020
5    1972 36.088
â‹®    â‹®    â‹®
1700 1987 62.351
1701 1992 60.377
1702 1997 46.809
1703 2002 39.989
1704 2007 43.487

You can also use `select` to get a range of columns using names:

In [20]:
select(gapminder, country:lifeExp)

     country     continent year lifeExp
1    Afghanistan Asia      1952 28.801
2    Afghanistan Asia      1957 30.332
3    Afghanistan Asia      1962 31.997
4    Afghanistan Asia      1967 34.020
5    Afghanistan Asia      1972 36.088
â‹®    â‹®           â‹®         â‹®    â‹®
1700 Zimbabwe    Africa    1987 62.351
1701 Zimbabwe    Africa    1992 60.377
1702 Zimbabwe    Africa    1997 46.809
1703 Zimbabwe    Africa    2002 39.989
1704 Zimbabwe    Africa    2007 43.487

### Use `filter` to subset rows that meet a specific condition

`filter` from the {dplyr package, takes logical expressions and returns the rows for which all are `TRUE`, for example we can subset rows which have a life expectancy > 29:

In [21]:
filter(gapminder, lifeExp < 29)

  country     continent year lifeExp pop     gdpPercap
1 Afghanistan Asia      1952 28.801  8425333 779.4453
2 Rwanda      Africa    1992 23.599  7290203 737.0686

We can susbet rows that meet two conditions, for example we can subset rows which are from the country Rwanda and whose year is > 1979. Note we use the comma `,` to separate the two conditions:

In [22]:
filter(gapminder, country == "Rwanda", year > 1979)

  country continent year lifeExp pop     gdpPercap
1 Rwanda  Africa    1982 46.218  5507565 881.5706
2 Rwanda  Africa    1987 44.020  6349365 847.9912
3 Rwanda  Africa    1992 23.599  7290203 737.0686
4 Rwanda  Africa    1997 36.087  7212583 589.9445
5 Rwanda  Africa    2002 43.413  7852401 785.6538
6 Rwanda  Africa    2007 46.242  8860588 863.0885

to filter for multiple conditions that **need not** co-occur, use `|`:

In [23]:
filter(gapminder, lifeExp > 80 | year == 2007)

    country            continent year lifeExp pop      gdpPercap
1   Afghanistan        Asia      2007 43.828  31889923   974.5803
2   Albania            Europe    2007 76.423   3600523  5937.0295
3   Algeria            Africa    2007 72.301  33333216  6223.3675
4   Angola             Africa    2007 42.731  12420476  4797.2313
5   Argentina          Americas  2007 75.320  40301927 12779.3796
â‹®   â‹®                  â‹®         â‹®    â‹®       â‹®        â‹®
146 Vietnam            Asia      2007 74.249  85262356 2441.5764
147 West Bank and Gaza Asia      2007 73.422   4018332 3025.3498
148 Yemen, Rep.        Asia      2007 62.698  22211743 2280.7699
149 Zambia             Africa    2007 42.384  11746035 1271.2116
150 Zimbabwe           Africa    2007 43.487  12311143  469.7093

Finally, we can use the `%in%` operator to subset rows which have values that match a value from several possible values:

In [24]:
filter(gapminder, country %in% c("Mexico", "United States", "Canada"))

   country       continent year lifeExp pop       gdpPercap
1  Canada        Americas  1952 68.75   14785584  11367.16
2  Canada        Americas  1957 69.96   17010154  12489.95
3  Canada        Americas  1962 71.30   18985849  13462.49
4  Canada        Americas  1967 72.13   20819767  16076.59
5  Canada        Americas  1972 72.88   22284500  18970.57
â‹®  â‹®             â‹®         â‹®    â‹®       â‹®         â‹®
32 United States Americas  1987 75.020  242803533 29884.35
33 United States Americas  1992 76.090  256894189 32003.93
34 United States Americas  1997 76.810  272911760 35767.43
35 United States Americas  2002 77.310  287675526 39097.10
36 United States Americas  2007 78.242  301139947 42951.65

### Combining functions with the pipe `|>` operator

In R, we often have to call multiple functions in a sequence to process a data frame. The basic ways of doing this can become quickly unreadable if there are many steps. For example, suppose we need to perform three operations on a data frame `data`:

1. add a new column `new_col` that is double another `old_col`
2. filter for rows where another column, `other_col`, is more than 5, and
3. select only the new column `new_col` for those rows.

One way of doing is to just write multiple lines of code, storing temporary objects as you go:

```
output_1 <- mutate(data, new_col = old_col * 2)
output_2 <- filter(output_1, other_col > 5)
output <- select(output_2, new_col)
```

This is difficult to understand for multiple reasons. The reader may be tricked into thinking the named `output_1` and `output_2` objects are important for some reason, while they are just temporary intermediate computations. Further, the reader has to look through and find where `output_1` and `output_2` are used in each subsequent line.

Another option for doing this would be to compose the functions:

```
output <- select(filter(mutate(data, new_col = old_col * 2), other_col > 5), new_col)
```

Code like this can also be difficult to understand. Functions compose (reading from left to right) in the opposite order in which they are computed by R (above, `mutate` happens first, then `filter`, then `select`). It is also just a really long line of code to read in one go.

The pipe operator `|>` solves this problem, resulting in cleaner and easier-to-follow code. |> in built into R so you donâ€™t need to load any packages to use it. The code below accomplishes the same thing as the previous two code blocks:


```
output <- data |>
mutate(new_col = old_col * 2) |>
filter(other_col > 5) |>
select(new_col)
```



The pipe operator takes the thing on the left-hand-side and pipes it into the function call on the right-hand-side â€“ ***literally, drops it in as the first argument.*** 

- this year (2021) R created `|>` as a built-in pipe operator!!!
- it was inspired from the pipe from the `magrittr` package `%>%`; which is imported by the `tidyverse` (and `dplyr`) package

![](http://hexb.in/hexagons/magrittr.png)
*Referring to the [1948 painting La Trahison des images](https://www.wikiart.org/en/rene-magritte/the-treachery-of-images-this-is-not-a-pipe-1948) by Rene Magritte*

So now we also have:

![base R pipe hex](img/base-pipe-hex.jpg)

Logo by [@LuisDVerde](https://twitter.com/LuisDVerde)

*Source: https://twitter.com/LuisDVerde/status/1430905603405144065*

Which to use? Most of the time there will be no difference. I will be adopting `|>` in my notes, homeworks, etc however, some from past times will use `%>%` and you will still see `|>` in other people's code.

I am choosing `|>` because I can then use piping in R packages without depending upon the `magrittr` package. More on this in DSCI 524: Collaborative Software Developement.

So instead of using intermediate objects to combine two functions (*e.g.*, `select` & `filter`) like this:

In [25]:
gap_under_29 <- filter(gapminder, lifeExp < 29)
select(gap_under_29, country, year)

  country     year
1 Afghanistan 1952
2 Rwanda      1992

And instead of composing functions in a hard to read manner:

In [26]:
select(filter(gapminder, lifeExp < 29), country, year)

  country     year
1 Afghanistan 1952
2 Rwanda      1992

We can use the pipe `|>` to create easy to read piplines to connect our function calls:

In [27]:
filter(gapminder, lifeExp < 29) |>
    select(country, year)

  country     year
1 Afghanistan 1952
2 Rwanda      1992

We can even start out our pipelines with an R data frame!

In [28]:
gapminder |>
    filter(lifeExp < 29) |>
    select(country, year)

  country     year
1 Afghanistan 1952
2 Rwanda      1992

We will embrace the pipe going forward in MDS!

#### Pro-tip for creating objects using the pipe

Don't start writing your code by assigning to an object - it's hard to debug and find the errors:

```
new_df <- gapminder |> 
    filter(country == "Cabodia") |>
    select(Year, lifeExp) 
```

```
Error in .f(.x[[i]], ...): object 'Year' not found
Traceback:

1. gapminder |> filter(country == "Cabodia") |> select(Year, lifeExp)
2. withVisible(eval(quote(`_fseq`(`_lhs`)), env, env))
3. eval(quote(`_fseq`(`_lhs`)), env, env)
4. eval(quote(`_fseq`(`_lhs`)), env, env)
5. `_fseq`(`_lhs`)
6. freduce(value, `_function_list`)
7. withVisible(function_list[[k]](value))
8. function_list[[k]](value)
9. select(., Year, lifeExp)
10. select.data.frame(., Year, lifeExp)
11. tidyselect::vars_select(tbl_vars(.data), !!!enquos(...))
12. vars_select_eval(.vars, quos)
13. map_if(quos, !is_helper, eval_tidy, mask)
14. map(.x[sel], .f, ...)
15. .f(.x[[i]], ...)
```

Instead, create your pipeline, just dumping it to the screen:

In [29]:
gapminder |> 
    filter(country == "Cambodia") |>
    select(year, lifeExp)

   year lifeExp
1  1952 39.417
2  1957 41.366
3  1962 43.415
4  1967 45.415
5  1972 40.317
â‹®  â‹®    â‹®
8  1987 53.914
9  1992 55.803
10 1997 56.534
11 2002 56.752
12 2007 59.723

Then, once you know it works, assign it to an object:

In [30]:
new_df <- gapminder |>
    filter(country == "Cambodia") |>
    select(year, lifeExp)

### Use `mutate` to add new variables

Imagine we wanted to recover each countryâ€™s GDP. After all, the Gapminder data has a variable for population and GDP per capita. Letâ€™s multiply them together.

`mutate` is a function that defines and inserts new variables into a tibble. You can refer to existing variables by name.

In [31]:
gapminder |> 
    mutate(tot_gdp = pop * gdpPercap)

     country     continent year lifeExp pop      gdpPercap tot_gdp
1    Afghanistan Asia      1952 28.801   8425333 779.4453  6567086330
2    Afghanistan Asia      1957 30.332   9240934 820.8530  7585448670
3    Afghanistan Asia      1962 31.997  10267083 853.1007  8758855797
4    Afghanistan Asia      1967 34.020  11537966 836.1971  9648014150
5    Afghanistan Asia      1972 36.088  13079460 739.9811  9678553274
â‹®    â‹®           â‹®         â‹®    â‹®       â‹®        â‹®         â‹®
1700 Zimbabwe    Africa    1987 62.351   9216418 706.1573  6508240905
1701 Zimbabwe    Africa    1992 60.377  10704340 693.4208  7422611852
1702 Zimbabwe    Africa    1997 46.809  11404948 792.4500  9037850590
1703 Zimbabwe    Africa    2002 39.989  11926563 672.0386  8015110972
1704 Zimbabwe    Africa    2007 43.487  12311143 469.7093  5782658337

To `mutate` more than one column, use commas to separate the mutation for each column:

In [32]:
gapminder |>
    mutate(tot_gdp = pop * gdpPercap,
          pop_thousands = pop / 1000)

     country     continent year lifeExp pop      gdpPercap tot_gdp
1    Afghanistan Asia      1952 28.801   8425333 779.4453  6567086330
2    Afghanistan Asia      1957 30.332   9240934 820.8530  7585448670
3    Afghanistan Asia      1962 31.997  10267083 853.1007  8758855797
4    Afghanistan Asia      1967 34.020  11537966 836.1971  9648014150
5    Afghanistan Asia      1972 36.088  13079460 739.9811  9678553274
â‹®    â‹®           â‹®         â‹®    â‹®       â‹®        â‹®         â‹®
1700 Zimbabwe    Africa    1987 62.351   9216418 706.1573  6508240905
1701 Zimbabwe    Africa    1992 60.377  10704340 693.4208  7422611852
1702 Zimbabwe    Africa    1997 46.809  11404948 792.4500  9037850590
1703 Zimbabwe    Africa    2002 39.989  11926563 672.0386  8015110972
1704 Zimbabwe    Africa    2007 43.487  12311143 469.7093  5782658337
     pop_thousands
1     8425.333
2     9240.934
3    10267.083
4    11537.966
5    13079.460
â‹®    â‹®
1700  9216.418
1701 10704.340
1702 11404.948
1703 11926.563
1704 12311.143

We can even change a column in place:

In [33]:
gapminder |>
    mutate(lifeExp = round(lifeExp, 0))

     country     continent year lifeExp pop      gdpPercap
1    Afghanistan Asia      1952 29       8425333 779.4453
2    Afghanistan Asia      1957 30       9240934 820.8530
3    Afghanistan Asia      1962 32      10267083 853.1007
4    Afghanistan Asia      1967 34      11537966 836.1971
5    Afghanistan Asia      1972 36      13079460 739.9811
â‹®    â‹®           â‹®         â‹®    â‹®       â‹®        â‹®
1700 Zimbabwe    Africa    1987 62       9216418 706.1573
1701 Zimbabwe    Africa    1992 60      10704340 693.4208
1702 Zimbabwe    Africa    1997 47      11404948 792.4500
1703 Zimbabwe    Africa    2002 40      11926563 672.0386
1704 Zimbabwe    Africa    2007 43      12311143 469.7093

### Use `arrange` to sort a data frame

Imagine we wanted to know the country (and year) with the shortest life expectancy? How can we do this?

`arrange` is a function that sorts data frames based on a column, or columns. Let's use it below to answer the questiom we just posed above!

In [34]:
gapminder |>
    arrange(lifeExp)

     country          continent year lifeExp pop       gdpPercap
1    Rwanda           Africa    1992 23.599  7290203    737.0686
2    Afghanistan      Asia      1952 28.801  8425333    779.4453
3    Gambia           Africa    1952 30.000   284320    485.2307
4    Angola           Africa    1952 30.015  4232095   3520.6103
5    Sierra Leone     Africa    1952 30.331  2143249    879.7877
â‹®    â‹®                â‹®         â‹®    â‹®       â‹®         â‹®
1700 Switzerland      Europe    2007 81.701    7554661 37506.42
1701 Iceland          Europe    2007 81.757     301931 36180.79
1702 Japan            Asia      2002 82.000  127065841 28604.59
1703 Hong Kong, China Asia      2007 82.208    6980412 39724.98
1704 Japan            Asia      2007 82.603  127467972 31656.07

What about the hightest life expectancy? We can pair the `arrange` function, with another function, called `desc` to sort the data frame in descending order:

In [35]:
gapminder |>
    arrange(desc(lifeExp))

     country          continent year lifeExp pop       gdpPercap
1    Japan            Asia      2007 82.603  127467972 31656.07
2    Hong Kong, China Asia      2007 82.208    6980412 39724.98
3    Japan            Asia      2002 82.000  127065841 28604.59
4    Iceland          Europe    2007 81.757     301931 36180.79
5    Switzerland      Europe    2007 81.701    7554661 37506.42
â‹®    â‹®                â‹®         â‹®    â‹®       â‹®         â‹®
1700 Sierra Leone     Africa    1952 30.331  2143249    879.7877
1701 Angola           Africa    1952 30.015  4232095   3520.6103
1702 Gambia           Africa    1952 30.000   284320    485.2307
1703 Afghanistan      Asia      1952 28.801  8425333    779.4453
1704 Rwanda           Africa    1992 23.599  7290203    737.0686

### Getting a single value from a data frame

What if you want the name of the country with the longest life expectancy back as just a single character vector, and not a data frame? How do we do this?

We need two additional {dplyr} functions to get this job done using the tidyverse, `slice` and `pull`. `slice` allows you to numerically index rows in R, returning the row number(s) specified. `pull` removes the data frame structure, returning the data as the next simpler data structure in R, a vector. 

Let's use `slice` and `pull` to now extract the name of the country with the longest life expectancy:

In [36]:
gapminder |> 
    arrange(desc(lifeExp)) |>
    slice(1) |>
    pull(lifeExp)

[1] 82.603

We just learned A LOT of new functions and operators:

- `select`
- `filter`
- `mutate`
- `arrange`
- `desc`
- `slice`
- `pull`
- ` |>`
- `%in%`

Trust that with practice (and you will get a lot of practice by completing the worksheet and lab homeworks) you will learn these. Also, when needed, you can refer to the data transformation cheat sheet: https://github.com/rstudio/cheatsheets/raw/main/data-transformation.pdf

## Tidy data

#### Shameless borrowing of slides from Jenny Bryan

https://www.slideshare.net/Plotly/plotcon-nyc-behind-every-great-plot-theres-a-great-deal-of-wrangling

<img src="img/whisperer.png" width=500>

<img src="img/on_balcony.png" width=500>

<img src="img/tame.png" width=500>

#### How should you wrangle your data?

#### We make it "tidy"!

### What is tidy data?

A tidy data is one that is satified by these three criteria:

- each row is a single observation,
- each variable is a single column, and
- each value is a single cell (i.e., its row, column position in the data frame is not shared with another value)

![](https://d33wubrfki0l68.cloudfront.net/6f1ddb544fc5c69a2478e444ab8112fb0eea23f8/91adc/images/tidy-1.png)

What is a variable and an observation may depend on your immediate goal.

*Source: [R for Data Science](https://r4ds.had.co.nz/) by Garrett Grolemund & Hadley Wickham*

### A tale of 4 data tables...

...here is the same data represented in 4 different ways, let's vote on which are tidy

*Example source: https://garrettgman.github.io/tidying/*

Statistical question: What variables are associated with the number of TB cases?

| country | year  | cases_per_capita |
|---------|-------|---|
| Afghanistan | 1999|      745/19987071
|Afghanistan |2000    | 2666/20595360
|      Brazil |1999|   37737/172006362
|      Brazil |2000  | 80488/174504898
|      China |1999| 212258/1272915272
|      China |2000 |213766/1280428583

Statistical question: What variables are associated with the number of TB cases?

| country | cases (year=1999) | cases (year=2000)|
|---------|-------|-------|
| Afghanistan |   745 |  2666
|  Brazil | 37737 | 80488
|  China | 212258 | 213766

| country | population (year=1999) | population (year=2000)|
|---------|-------|-------|
| Afghanistan |  19987071 |  20595360 |
| Brazil | 172006362 | 174504898 |
| China | 1272915272 | 1280428583 |

Statistical question: What variables are associated with the number of TB cases?

| country | year  | cases | population |
|---------|-------|-------|------------|
| Afghanistan | 1999  |  745  | 19987071|
| Afghanistan | 2000 |  2666 |  20595360|
|Brazil |1999 | 37737  |172006362|
| Brazil| 2000 | 80488 | 174504898|
| China | 1999 | 212258 |1272915272|
|  China |2000 | 213766 | 1280428583|

Statistical question: What variables are associated with the number of TB cases?

| country | year  | key | value |
|---------|-------|-------|------------|
|Afghanistan |1999 |     cases   |     745
| Afghanistan |1999| population  | 19987071
|  Afghanistan |2000|      cases |      2666
|  Afghanistan| 2000| population |  20595360
|       Brazil| 1999|      cases |     37737
|       Brazil |1999| population | 172006362
|       Brazil| 2000|      cases  |    80488
|       Brazil |2000| population | 174504898
|        China |1999|      cases  |   212258
|       China |1999| population |1272915272
|       China |2000|      cases |    213766
|       China |2000| population| 1280428583

### Pivoting longer

`pivot_longer` from the {tidyr} package takes a wide data frame and making it longer! {tidyr} is another package in the {tidyverse} metapackage.

![ ](https://github.com/apreshill/teachthat/blob/master/pivot/pivot_longer_smaller.gif?raw=true)

*Source: April Hill's [teachthat](https://github.com/apreshill/teachthat/) GitHub repository*

Consider the data frame below and that we are interested in finding what variables are associated with the number of TB cases?

In [37]:
table4a

  country     1999   2000
1 Afghanistan    745   2666
2 Brazil       37737  80488
3 China       212258 213766

This is currently difficult as the values for the variable year are stuck in column names. We can use the `pivot_longer` function to tidy this data:

In [38]:
table4a |>
    pivot_longer(`1999`:`2000`, names_to = "year", values_to = "cases")

  country     year cases
1 Afghanistan 1999    745
2 Afghanistan 2000   2666
3 Brazil      1999  37737
4 Brazil      2000  80488
5 China       1999 212258
6 China       2000 213766

In [39]:
# or a less verbose and efficient way to specify this:
table4a |>
    pivot_longer(-country, names_to = "year", values_to = "cases")

  country     year cases
1 Afghanistan 1999    745
2 Afghanistan 2000   2666
3 Brazil      1999  37737
4 Brazil      2000  80488
5 China       1999 212258
6 China       2000 213766

To use `pivot_longer` we need to specify:

1. the dataset

2. The columns we want to apply our pivot operation to (we use `select`-like syntax for this, and if you want to operate on all columns in a data frame, you can provide the function `everything()` here.

2. the name of a new column that will be created, whose values will come from the names of the columns that we want to combine (the result argument)

3. the name of a new column that will be created, whose values will come from the values of the columns we want to combine (the value argument)

### Pivoting wider

`pivot_wider` from the {tidyr} package takes a narrow data frame and making it wider! It is the opposite of `pivot_longer`!

Consider the data frame below and that we are interested in finding what variables are associated with the number of TB cases?

In [40]:
table2

   country     year type       count
1  Afghanistan 1999 cases           745
2  Afghanistan 1999 population 19987071
3  Afghanistan 2000 cases          2666
4  Afghanistan 2000 population 20595360
5  Brazil      1999 cases         37737
â‹®  â‹®           â‹®    â‹®          â‹®
8  Brazil      2000 population  174504898
9  China       1999 cases          212258
10 China       1999 population 1272915272
11 China       2000 cases          213766
12 China       2000 population 1280428583

This is currently difficult as observation is scattered across multiple rows. We can tidy this data frame with the function `pivot_wider`.

In [41]:
table2 |>
    pivot_wider(names_from = type, values_from = count)

  country     year cases  population
1 Afghanistan 1999    745   19987071
2 Afghanistan 2000   2666   20595360
3 Brazil      1999  37737  172006362
4 Brazil      2000  80488  174504898
5 China       1999 212258 1272915272
6 China       2000 213766 1280428583

To use `pivot_wider` we need to specify:

1. the dataset

2. the name of the column whose values we would like to use as column names when we widen the data

3. the name of the column whose values you would like to spread into separate columns based on the value they had in the column specified as the key

![](img/tidyverse.png)

https://www.tidyverse.org/

### The tidy tools manifesto

"*The goal of these principles is to provide a uniform interface so that tidyverse packages work together naturally, and once youâ€™ve mastered one, you have a head start on mastering the others.*"

https://cran.r-project.org/web/packages/tidyverse/vignettes/manifesto.html

### The tidy tools manifesto

There are four basic principles to a tidy API:

1. Reuse existing data structures.

2. Compose simple functions with the pipe (`|>`).

3. Embrace functional programming.

4. Design for humans.

### Reuse existing data structures.

- Where possible, re-use existing data structures, rather than creating custom data structures for your own package
- When it is not possible to use an existing data structure, use S3 class (simplest OO system in R) built on top of an atomic vector or list
- When working on data.frames/tibbles, assume the data is tidy

### Compose simple functions with the pipe (|>)

- A powerful strategy for solving complex problems is to combine many simple pieces. Each piece should be easily understood in isolation, and have a standard way to combine with other pieces.  

- In R, this strategy plays out by composing single functions with the pipe, `|>`.

- The pipe is a common composition tool that works across all packages.

### Embrace functional programming

R is a functional programming language; embrace it, donâ€™t fight it. If youâ€™re familiar with an object-oriented language like Python or C#, this is going to take some adjustment. But in the long run you will be much better off working with the language rather than fighting it.

Generally, this means you should favour:

- Immutable objects and copy-on-modify semantics. This makes your code easier to reason about.
- The generic functions provided by S3 and S4. These work very naturally inside a pipe. If you do need mutable state, try to make it an internal implementation detail, rather than exposing it to the user.
- Tools that abstract over for-loops, like the `apply` family of functions or the map functions in `purrr`.

### Design for humans

Design your API primarily so that it is easy to use by humans. Computer efficiency is a secondary concern because the bottleneck in most data analysis is thinking time, not computing time.

- Invest time in naming your functions. Evocative function names make your API easier to use and remember.

- Favour explicit, lengthy names, over short, implicit, names. Save the shortest names for the most important operations.

- Think about how autocomplete can also make an API thatâ€™s easy to write. Make sure that function families are identified by a common prefix, not a common suffix. This makes autocomplete more helpful, as you can jog your memory with the prompts. For smaller packages, this may mean that every function has a common prefix (e.g. stringr, xml2, rvest).

## What did we learn today?

- How to read and write data using R

- Single table functions from {dplyr} to manipulate data frames

- A new operator, the pipe `|>` for combining function calls

- What tidy data is, and how to use the {tidyr} functions to get our data tidy

- *That R is awesome for manipulating data!*

## Attributions
- MUCH of these notes were derived from [Stat 545](https://stat545.com/) created by Jenny Bryan
- [R for Data Science](https://r4ds.had.co.nz/index.html) by Garrett Grolemund & Hadley Wickham